@model NatDMS.Models.EDR_DisplayViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GetDistributor</title>
    <link rel="stylesheet" type="text/css" href="~/css/dm-project-style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



    <script type="text/javascript">

        //-------------SCRIPT FOR SEARCH------------//

        $(function () {
            $("#btnSubmit").click(function () {
              
                var SearchResultmodel = new Object();
                SearchResultmodel.State = $("#Dstate").val();
                SearchResultmodel.City = $("#Dcity").val();
                SearchResultmodel.Area = $("#Darea").val();
                SearchResultmodel.fullName = $("#FullName").val();
                $.ajax({
                    url: "/Distributor/SearchNonAssignedRetailors",
                    type: 'POST',
                    content: "application/json; charset=utf-8",
                    dataType: "json",
                    data: SearchResultmodel,
                    success: function (response) {
                        let result = JSON.stringify(response.retailorList);
                        $("#Retailorlist").empty();
                        $.each(response.retailorList, function (i, retailors) {
                            let result1 = retailors;
                            $("#Retailorlist").append('<tr>' +
                                '<td>' + retailors.firstName + '</td>' +
                                '<td>' + retailors.lastName + '</td>' +
                                '<td>' + retailors.email + '</td>' +
                                '<td>' + retailors.mobileNumber + '</td>' +
                                '<td>' + retailors.address + '</td>' +
                                '<td>' + retailors.state + '</td>' +
                                '<td>' + retailors.city + '</td>' +
                                '<td>' + retailors.area + '</td>' +
                                '<td style="text-align: center;">' +
                                '<input type="checkbox" class="selectRetailor" data-id="' + retailors.id + '" />' +
                                '</td>' +
                                '</tr>');


                        });
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            });
        });


    </script>

</head>


<!---------------------------------------------------BODY---------------------------------------------------------->
<body>

    <!-----------------------------------------------SEARCH DISTRIBUTOR----------------------------------------------------->

    <div class="container my-4">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <b>
                        @Html.Label("ShopName", "Search by ShopName")
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Search By ShopName" })
                    </b>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <b>
                        @Html.LabelFor(model => model.State)
                        @Html.DropDownListFor(model => model.State, new SelectList(Model.StateList, "Id", "StateName"),
                        "-SelectState-", new { @id = "Dstate", onchange = "Statechange()", @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                    </b>
                </div>
            </div>


            <div class="col-md-2">
                <div class="form-group">
                    <b>
                        @Html.LabelFor(model => model.City)
                        @Html.DropDownListFor(model => model.City, new SelectList(new List<SelectListItem>
                        {
                        new SelectListItem { Text = "", Value =""},
                        }, "Value","Text"), new { @id = "Dcity", @onchange = "Citychange()", @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </b>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <b>
                        @Html.LabelFor(model => model.Area)
                        @Html.DropDownListFor(model => model.Area, new List<SelectListItem>
                        {
                        new SelectListItem {Text = ""}
                        }, new { id = "Darea", @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                    </b>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <button id="btnSubmit">
                        <i class="material-icons" style="font-size:20px;display:flex;justify-content:center;
                                align-items:center;">search</i>
                    </button>
                </div>
            </div>
        </div>


    </div>

    <!----------------------------------------------------DISPLAY RETAILOR LIST-------------------------------------------------------------->

    <div class="table-responsive" style="overflow-x: hidden;">

        <table class="table table-bordered table-striped custom-table">
            <thead>
                <tr>
                    <th>ShopName</th>
                    <th>Email</th>
                    <th>MobileNumber</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Area</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody id="Retailorlist">



                @foreach (var item in Model.RetailorList)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.MobileNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.State)</td>
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td>@Html.DisplayFor(modelItem => item.Area)</td>
                        <td style="text-align: center;">
                            <input type="checkbox" class="selectRetailor" data-id="@item.Id" />
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

    <!-------------------------------------------------------------Pagination------------------------------------------------------------------->

    <div class="text-center">
        @if (ViewBag.Pages != null && ViewBag.Pages.TotalPages > 0)
        {
            <b>Page @ViewBag.Pages.CurrentPage of @ViewBag.Pages.TotalPages</b>

            <div class="d-flex justify-content-between">
                <ul class="pagination">
                    <li class="page-item @(ViewBag.Pages.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link text-black" href="@Url.Action("ListOfRetailors", new { page = ViewBag.Pages.CurrentPage - 1 })" style="font-weight: bold; background-color: transparent; border: none;">
                            <span aria-hidden="true">&laquo;</span>
                            Previous
                        </a>
                    </li>
                </ul>

                <ul class="pagination">
                    <li class="page-item @(ViewBag.Pages.CurrentPage == ViewBag.Pages.TotalPages ? "disabled" : "")">
                        <a class="page-link text-black" href="@Url.Action("ListOfRetailors", new { page = ViewBag.Pages.CurrentPage + 1 })" style="font-weight: bold; background-color: transparent; border: none;">
                            Next
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
    </div>



    <!---------------------------------------------------------AJAX CODE FOR CITY CHANGE AND AREA-------------------------------------------------->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">

        function Statechange() {

            var stid = $('#Dstate').val();
            if (stid.trim() != '') {
                var ddlcity = $('#Dcity');
                var ddlarea = $('#Darea');
                ddlcity.empty();
                ddlarea.empty();
                $.ajax(
                    {
                        url: "/Distributor/GetCitiesbyStateId",
                        type: 'GET',
                        dataType: 'json',
                        data: { stateId: stid },
                        success: function (d) {
                            ddlcity.append($("<option></option>").val('').html('-SelectCity-'));
                            $.each(d, function (i, cities) {
                                ddlcity.append($("<option>" + cities.cityName + "</option>").val(cities.id).html(cities.cityName));
                            });
                        },
                        error: function () {
                            alert('Error!');
                        }
                    });
            }
        }

        function Citychange() {

            var cityid = $('#Dcity').val();
            if (cityid.trim() != '') {
                var ddlarea = $('#Darea');
                ddlarea.empty();

                $.ajax(
                    {
                        url: "/Distributor/GetAreasByCityId",
                        type: 'GET',
                        dataType: 'json',
                        data: { cityId: cityid },
                        success: function (d) {
                            ddlarea.append($("<option></option>").val('').html('-SelectArea-'));
                            $.each(d, function (i, areas) {
                                ddlarea.append($("<option>" + areas.areaName + "</option>").val(areas.id).html(areas.areaName));
                            });
                        },
                        error: function () {
                            alert('Error!');
                        }
                    });
            }
        }
    </script>
</body>
</html>