@model NatDMS.Models.ExecutiveDetailsViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-r5ID+CgK5ba4ZL3a39OXhMWSktQOp6cJS7wePqOx6bSSUnQlmh/jQ9vS9z5+X68+H" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .red-border {
            border: 2px solid black;
        }

        .wrap-text {
            word-wrap: break-word;
            white-space: pre-wrap;
        }

        .area-container {
            display: flex;
            flex-wrap: wrap;
            gap: 2px; /* Adjust this value to control the space between items */
        }

        .area-item {
            padding: 2px 5px; /* Optional: Add padding for better readability */
            background-color: #f0f0f0; /* Optional: Add background color for better visual separation */
            border-radius: 3px; /* Optional: Add border radius for rounded corners */
            white-space: nowrap; /* Ensure items don't break into multiple lines */
            margin: 1px; /* Minimal margin to control spacing */
        }
       
    </style>
</head>
<body>

    <div class="container mt-10">
        <div class="row">
            <div class="col-md-10">

 <!-------------------------------------------------------EDIT ICON LINK--------------------------------------------------------------->

                <div class="text-center position-relative">
                    <a href="@Url.Action("EditExecutive", new { id = Model.ExecutiveDetails.Id })" class="d-flex align-items-center position-absolute" style="top: 0; right: 0;">
                        <i class="material-icons" style="font-size:20px">edit</i>
                        <span class="ml-2" style="font-weight:bold;">Edit</span>
                    </a>
                </div>

 <!------------------------------------------------------EXECUTIVE DETAILS------------------------------------------------------------>

                <div class="container my-4">
                    <dl class="row">
                        <dt class="col-sm-2 text-danger">@Html.DisplayNameFor(model => model.ExecutiveDetails.FirstName)</dt>
                        <dd class="col-sm-2 text-dark wrap-text">@Html.DisplayFor(model => model.ExecutiveDetails.FirstName)</dd>

                        <dt class="col-sm-2 text-danger">@Html.DisplayNameFor(model => model.ExecutiveDetails.LastName)</dt>
                        <dd class="col-sm-2 text-dark wrap-text">@Html.DisplayFor(model => model.ExecutiveDetails.LastName)</dd>

                        <dt class="col-sm-2 text-danger">@Html.DisplayNameFor(model => model.ExecutiveDetails.Address)</dt>
                        <dd class="col-sm-2 text-dark wrap-text">@Html.DisplayFor(model => model.ExecutiveDetails.Address)</dd>

                        <dt class="col-sm-2 text-danger">@Html.DisplayNameFor(model => model.ExecutiveDetails.Email)</dt>
                        <dd class="col-sm-2 text-dark  wrap-text">@Html.DisplayFor(model => model.ExecutiveDetails.Email)</dd>

                        <dt class="col-sm-2 text-danger">@Html.DisplayNameFor(model => model.ExecutiveDetails.State)</dt>
                        <dd class="col-sm-2 text-dark">@Html.DisplayFor(model => model.ExecutiveDetails.State)</dd>

                        <dt class="col-sm-2 text-danger">@Html.DisplayNameFor(model => model.ExecutiveDetails.City)</dt>
                        <dd class="col-sm-2 text-dark">@Html.DisplayFor(model => model.ExecutiveDetails.City)</dd>



                      @*   <dt class="col-sm-2 text-danger">@Html.DisplayNameFor(model => model.ExecutiveDetails.Area)</dt>
                        <dd class="col-sm-2 text-dark wrap-text">
                            @if (Model.ExecutiveDetails.Area != null && Model.ExecutiveDetails.Area.Any())
                            {
                                <div class="area-container">
                                    @foreach (var area in Model.ExecutiveDetails.Area)
                                    {
                                        <span class="area-item">@area</span>
                                    }
                                </div>
                            }
                            else
                            {
                                <span>No areas selected</span>
                            }
                        </dd> *@
                       
                        <dt class="col-sm-2 text-danger">@Html.DisplayNameFor(model => model.ExecutiveDetails.Image)</dt>
                        <dd class="col-sm-2 text-dark">
                            @if (!string.IsNullOrEmpty(Model.ExecutiveDetails.Image))
                            {

                                <img src="@Model.ExecutiveDetails.Image" alt="ProfileImage" width="90" height="90" class="img-responsive" id="presignedurl" />
                            }
                            else
                            {
                                <!-- Display a default "no image" placeholder -->
                                <img class="card-img-top img-fluid" src="~/image/no-image-placeholder.svg" alt="No Image">
                            }
                        </dd>
@*                         
                        <dt class="col-sm-2 text-danger">@Html.DisplayNameFor(model => model.ExecutiveDetails.Latitude)</dt>
                        <dd class="col-sm-2 text-dark">@Html.DisplayFor(model => model.ExecutiveDetails.Latitude)</dd>

                        <dt class="col-sm-2 text-danger">@Html.DisplayNameFor(model => model.ExecutiveDetails.Longitude)</dt>
                        <dd class="col-sm-2 text-dark">@Html.DisplayFor(model => model.ExecutiveDetails.Longitude)</dd> *@



                    </dl>

 <!-------------------------------------------------- ASSIGN DISTRIBUTOR POPUP ---------------------------------------------------------->
                
                  <h4 class="text-danger">Assigned Distributors</h4>
                    <div data-bs-toggle="modal" data-bs-target="#exampleModal_@Model.ExecutiveDetails.Id">
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen-xxl-down">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Distributors</h5>
                                        <button type="button" class="btn-close" onclick="redirectToDisplayExecutives()" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" id="modalBody">
                                        <!-- Modal body content goes here -->
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-outline-primary" id="assignDistributorsBtn">Assign</button>
                                        <button type="button" class="btn btn-outline-danger" onclick="redirectToDisplayExecutives()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<!------------------------------------------------ASSIGN DISTRIBUTOR ICON LINK --------------------------------------------------------->

                    <div class="text-end position-relative d-flex justify-content-end">
                        <a href="#" onclick="loadDisplayDistributorsPopup('@Model.ExecutiveDetails.Id',true)">
                            <span style="display: inline-block;">
                                <i class="material-icons" style="vertical-align:middle;">supervisor_account</i>
                                <span class="ml-2" style="font-weight:bold; vertical-align:middle;">Assign</span>
                            </span>
                        </a>
                    </div>

 <!----------------------------------------------LIST OF ASSIGNED DISTIRBUTORS--------------------------------------------------------->
                  
 
                      <table class="table red-border" style="border-collapse:collapse;">
                        <thead>
                            <tr class="red-border">
                                <th class="red-border">CompanyName</th>
                                <th class="red-border">Email</th>
                                <th class="red-border">MobileNumber</th>
                                <th class="red-border">State</th>
                                <th class="red-border">City</th>
                                @* <th class="red-border">Area</th> *@
                                <th class="red-border">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var distributor in Model.AssignedDistributors)
                            {
                                <tr class="red-border">
                                    <td class="red-border">@distributor.FirstName</td>
                                    <td class="red-border">@distributor.Email</td>
                                    <td class="red-border">@distributor.MobileNumber</td>
                                    <td class="red-border">@distributor.State</td>
                                    <td class="red-border">@distributor.City</td>
                                    @* <td class="red-border">@distributor.Area</td> *@
                                    <td>
  <!----------------------------------------------------- Delete Icon ------------------------------------------------------------------->

                                        <div style="display: flex; justify-content: center; align-items: center;">
                                            <i onclick="confirmDelete('@distributor.Id', true)" class="material-icons" style="color: red;cursor: pointer;">delete</i>
                                        </div>

  <!--------------------------------------------- Delete Confirmation Modal ------------------------------------------------------------->

                                        <div id="deleteConfirmationModal_@distributor.Id" class="modal" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete Confirmation</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to delete this distributor?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" onclick="confirmDelete('@distributor.Id', false)">No</button>
                                                        <button type="button" class="btn btn-danger" onclick="deleteDistributor('@distributor.Id','@Model.ExecutiveDetails.Id')">Yes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<!------------------------------------------------------BACK TO LIST ICON LINK----------------------------------------------------------->

    <div class="text-center py-1">
        <a href="@Url.Action("DisplayExecutives")" class="d-flex align-items-center">
            <i class="material-icons" style="font-size:20px;">arrow_back</i>
            <span class="ml-2" style="font-weight: bold;">BACK TO LIST</span>
        </a>
    </div>


 <!------------------------------------------------------SCRIPTS FOR THIS PAGE------------------------------------------------------------>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>

//----------------------------------------------------SCRIPT FOR DELETE POPUP------------------------------------------------------------>

        function confirmDelete(uniqueId, isTrue) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isTrue) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
                showModal(uniqueId);
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
                hideModal(uniqueId);
            }
        }

        function showModal(uniqueId) {
            var modal = $('#deleteConfirmationModal_' + uniqueId);
            modal.modal('show');
        }

        function hideModal(uniqueId) {
            var modal = $('#deleteConfirmationModal_' + uniqueId);
            modal.modal('hide');
        }

     //--------------------------------------------SCRIPT FOR DELETE ASSIGNED DISTIRBUTOR --------------------------------------

        function deleteDistributor(distributorId, executiveId){
            $.ajax({
                url: '/Executive/DeleteAssignedDistributor',
                type: 'POST',
                data: { distributorId: distributorId, executiveId: executiveId },
                dataType: 'json',
                success: function (data) {
                    alert("Delete Successful");

                    // Redirect to executivedetailsbyid page with executiveId
                    window.location.href = '/Executive/ExecutiveDetailsById/' + executiveId;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Error:', errorThrown);
                }
            });
        }

        //----------------------SCRIPT FOR ASSIGN POPUP--------------------------------------

        
        function loadDisplayDistributorsPopup(ExecutiveId, page = 1) {
            var modalBody = $('#modalBody');
            var url = '/Executive/ListOfDistributors/' + ExecutiveId + '?page=' + page;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    modalBody.html(data);
                    $('#exampleModal').modal('show');

                    // Handle pagination links inside the modal

                    $(document).on('click', '.pagination a', function (e) {
                        e.preventDefault();
                        var clickedPage = $(this).attr('href').split('page=')[1];
                        loadDisplayDistributorsPopup(ExecutiveId, clickedPage);
                    });

                    // Handle assigning distributors

                    $('#assignDistributorsBtn').on('click', function () {
                        var selectedDistributorIds = [];

                        // Loop through checkboxes and collect selected distributor IDs

                        $('.selectDistributor:checked').each(function () {
                            selectedDistributorIds.push($(this).data('id'));
                        });
                        $.ajax({
                            url: '/AssignDistirbutorToExecutive/AssignDistributors',
                            type: 'POST',
                            content: "application/json; charset=utf-8",
                            dataType: "json",
                            data: {
                                executiveId: ExecutiveId,
                                selectedDistributorIds: selectedDistributorIds
                            },
                            success: function (result) {
                                alert("Assigned Successfully");
                                var url = '@Url.Action("ExecutiveDetailsById","Executive")';
                                window.location.href = url;
                            },
                            error: function (error) {
                                alert("This Distributor is Already Assigned");
                                console.error('Error assigning distributors:', error);
                            }
                        });
                    });
                },
                error: function (error) {
                    console.error('Error loading distributors:', error);
                }

            });

        }

        //-------------------------------------CLOSE POPUP MODEL--------------------------------------//

        function redirectToDisplayExecutives() {
            var url = '@Url.Action("ExecutiveDetailsById","Executive")';
            console.log('Redirect URL:', url);
            window.location.href = url;
        }

    </script>

</body>
</html>
