@model IEnumerable<NatDMS.Models.DSRViewModel>

@{
    ViewData["Title"] = "DisplayDsrs";
}

<h1>DisplayDsrs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Executive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distributor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Retailor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderBy)
            </th>
            <th>@Html.DisplayNameFor(model => model.TotalAmount)</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Executive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distributor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Retailor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderBy)
            </td>
          <td>
              @Html.DisplayFor(modelItem =>item.TotalAmount)
          </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
