@model IEnumerable<NatDMS.Models.EditProduct>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        div.scroll-container {
            padding: 10px;
            margin: auto;
        }

            div.scroll-container .product-item {
                text-align: center;
                padding: 10px;
                color: #333; /* Text color for better visibility on white background */
            }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="mt-4">Product Catalog</h2>

        <div class="scroll-container row">
            @foreach (var product in Model)
            {
                <div class="col-sm-4 col-md-3 col-lg-2 product-item mb-10">
                    @*<img src="@product.PresignedUrl" alt="@product.Product1" class="img-fluid" />*@
                    <img src="@product.PresignedUrl" alt="ProfileImage" width="200" height="200" class="img-responsive" id="presignedurl" />
                    <p>@product.Category</p>
                    <p>@product.ProductName</p>
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

