@model NatDMS.Models.EDR_DisplayViewModel
@using System.Security.Claims

<!DOCTYPE html>

<html lang="en">
<head>
    @* <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"> *@
    <title>GetDistributor</title>

    <link rel="stylesheet" type="text/css" href="~/css/dm-project-style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <script type="text/javascript">
        //-------------SCRIPT FOR DELETE POPUP------------//

        function confirmDelete(uniqueId, isTrue) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isTrue) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
                showModal(uniqueId);
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
                hideModal(uniqueId);
            }
        }
        function showModal(uniqueId) {
            var modal = $('#deleteConfirmationModal_' + uniqueId);
            modal.modal('show');
        }

        function hideModal(uniqueId) {
            var modal = $('#deleteConfirmationModal_' + uniqueId);
            modal.modal('hide');
        }

        //-------------SCRIPT FOR SEARCH------------//


        $(document).ready(function () {
            $("#SearchResultmodel").submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: "/Distributor/SearchDistributor",
                    data: formData,
                    success: function (response) {
                        $("#Distributorlist").html(response);
                    }
                });
            });
        });</script>
</head>

<!---------------------------------------------------BODY---------------------------------------------------------->


<body>
    <div class="d-flex justify-content-between align-items-center">
        <div class="text-center">
            <!-- Your existing content here -->
        </div>
        <div class="text-center">
            <a href="@Url.Action("CreateDistributor")" class="d-flex align-items-center">
                <i class="material-icons">add</i>
                <b><span style="font-weight:bold;">CREATE NEW</span></b>
            </a>
        </div>
    </div>

    <!-----------------------------------------------SEARCH EXECUTIVE----------------------------------------------------->


    <div class="container my-4">
        @using (Html.BeginForm(FormMethod.Post, new { id = "SearchResultmodel" }))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>
                            @Html.Label("CompanyName", "Search by CompanyName")
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Search By CompanyName" })
                        </b>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">

                        <b>
                            @Html.LabelFor(model => model.State)
                            @Html.DropDownListFor(model => model.State, new SelectList(Model.StateList, "Id", "StateName"),
                                     "-SelectState-", new { @id = "state", onchange = "statechange()", @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                        </b>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <b>
                            @Html.LabelFor(model => model.City)
                            @Html.DropDownListFor(model => model.City, new SelectList(new List<SelectListItem>
                        {
                        new SelectListItem { Text = "", Value =""},
                        }, "Value", "Text"), new { @id = "city", @onchange = "citychange()", @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </b>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <b>
                            @Html.LabelFor(model => model.Area)
                            @Html.DropDownListFor(model => model.Area, new List<SelectListItem>
                        {
                        new SelectListItem {Text = ""}
                        }, new { @id = "area", @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                        </b>
                    </div>
                </div>

                <!-- Display search results -->

                <div class="col-md-2">
                    <div class="form-group">
                        <button class="btn btn-secondary my-4">
                            <i class="material-icons" style="font-size:20px;display:flex;justify-content:center;
                                align-items:center;">search</i>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>

    <!----------------------------------------------------DISPLAY DISTIBUTORS LIST-------------------------------------------------------------->



    <div class="table-responsive">

        <table class="table table-bordered table-striped custom-table" id="Distributorlist">


            <tbody>
            <thead>
                <tr>
                    <th>CompanyNmae</th>
                    <th>Email</th>
                    <th>MobileNumber</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Area</th>
                    <th>ProfileImage</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Details</th>
                </tr>
            </thead>




                @foreach (var item in Model.DistributorList)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.MobileNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.DisplayFor(modelItem => item.State)</td>
                    <td>@Html.DisplayFor(modelItem => item.City)</td>
                    <td>@Html.DisplayFor(modelItem => item.Area)</td>
                    <td>
                            @if (!string.IsNullOrEmpty(@item.Image))
                            {

                            <img src="@item.Image" alt="ProfileImage" width="160" height="160" class="img-responsive" id="presignedurl" />
                            }
                            else
                            {
                            <!-- Display a default "no image" placeholder -->
                            <img class="card-img-top img-fluid" src="~/image/no-image-placeholder.svg" alt="No Image">
                            }

                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Latitude)</td>
                    <td>@Html.DisplayFor(modelItem => item.Longitude)</td>


                    <!-----------------------------------------------EDIT ACTION LINK------------------------------------------------------------------------>


                    <td>
                        <a href="@Url.Action("EditDistributor", new { id = item.Id })" style="text-decoration: none; display: inline-block; color:orange;">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>

                    <!-----------------------------------------------------DELETE POPUP------------------------------------------------------------------------>

                    <td>
                        <!-- Delete Icon -->
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <i onclick="confirmDelete('@item.Id', true)" class="material-icons" style="color: red;cursor: pointer;">delete</i>
                        </div>

                        <!-- Delete Confirmation Modal -->
                        <div id="deleteConfirmationModal_@item.Id" class="modal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this Distributor?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" onclick="confirmDelete('@item.Id', false)">No</button>
                                            @using (Html.BeginForm("DeleteDistributor", "Distributor", new { DistributorId = item.Id }, FormMethod.Post))
                                            {
                                            <button type="submit" class="btn btn-danger">Yes</button>
                                            }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>

                    <td>
                        <a href="@Url.Action("DistributorDetailsBYId", new { id = item.Id })" style="text-decoration: none; display: inline-block; color:green;">
                            <i class="material-icons">info</i>
                        </a>
                    </td>
                </tr>

                }
            </tbody>
        </table>
    </div>

    <!-------------------------------------------------------------Pagination------------------------------------------------------------------->

    <div class="text-center">
        @if (ViewBag.Pages != null && ViewBag.Pages.TotalPages > 0)
        {
            <b>Page @ViewBag.Pages.CurrentPage of @ViewBag.Pages.TotalPages</b>

            <div class="d-flex justify-content-between">
                <ul class="pagination">
                    <li class="page-item @(ViewBag.Pages.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link text-black" href="@Url.Action("DisplayDistributors", new { page = ViewBag.Pages.CurrentPage - 1 })" style="font-weight: bold; background-color: transparent; border: none;">
                            <span aria-hidden="true">&laquo;</span>
                            Previous
                        </a>
                    </li>
                </ul>

                <ul class="pagination">
                    <li class="page-item @(ViewBag.Pages.CurrentPage == ViewBag.Pages.TotalPages ? "disabled" : "")">
                        <a class="page-link text-black" href="@Url.Action("DisplayDistributors", new { page = ViewBag.Pages.CurrentPage + 1 })" style="font-weight: bold; background-color: transparent; border: none;">
                            Next
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        }
    </div>
    <!---------------------------------------------------------AJAX CODE FOR CITY CHANGE AND AREA-------------------------------------------------->
    <script type="text/javascript">
        function statechange() {
            var stid = $('#state').val();
            if (stid.trim() != '') {
                var ddlcity = $('#city');
                ddlcity.empty();

                $.ajax(
                    {
                        url: "/Distributor/GetCitiesbyStateId",
                        type: 'GET',
                        dataType: 'json',
                        data: { stateId: stid },
                        success: function (d) {
                            ddlcity.append($("<option></option>").val('').html('-SelectCity-'));
                            $.each(d, function (i, cities) {
                                ddlcity.append($("<option>" + cities.cityName + "</option>").val(cities.id).html(cities.cityName));
                            });
                        },
                        error: function () {
                            alert('Error!');
                        }
                    });
            }
        }

        function citychange() {
            var cityid = $('#city').val();
            if (cityid.trim() != '') {
                var ddlarea = $('#area');
                ddlarea.empty();

                $.ajax(
                    {
                        url: "/Distributor/GetAreasByCityId",
                        type: 'GET',
                        dataType: 'json',
                        data: { cityId: cityid },
                        success: function (d) {
                            ddlarea.append($("<option></option>").val('').html('-SelectArea-'));
                            $.each(d, function (i, areas) {
                                ddlarea.append($("<option>" + areas.areaName + "</option>").val(areas.id).html(areas.areaName));
                            });
                        },
                        error: function () {
                            alert('Error!');
                        }
                    });
            }
        }</script>
</body>
</html>