@model IEnumerable<NatDMS.Models.DistributorViewModel>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GetRetailors</title>
    <link rel="stylesheet" type="text/css" href="~/css/my.css">

    <link rel="shortcut icon" type="image/favicon" href="image/fevicon.png">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- simple-line icon -->
    <link rel="stylesheet" type="text/css" href="css/simple-line-icons.css">
    <!-- font-awesome icon -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="css/themify-icons.css">
    <!-- ion icon -->
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <!-- owl slider -->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
    <!-- swiper -->
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <!-- animation -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/my.css">

</head>


<body>
    <div class="container">
        <div class="text-center">
            <h1 class="my-1"><b>Manage Distributors</b></h1>
        </div>
        <p>
            <a asp-action="CreateDistributor" class="btn btn-primary">CREATE NEW</a>
        </p>
        <table class="table table-bordered table-striped custom-table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MobileNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Area)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th> Edit </th>
                    <th> Delete </th>
                    <th>Details</th>

                </tr>
            </thead>


            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                        @*<td><a asp-action="Edit" class="btn btn-warning btn-sm" id="@(item.Id.ToString())">EDIT</a></td>*@
                        <td> @Html.ActionLink("Edit", "Edit", new { id=item.Id.ToString()})</td>
                        <td><a asp-action="Delete"class="btn btn-danger btn-sm">DELETE</a></td>
                        @* <td><a asp-action="Details" class="btn btn-success btn-sm" new { id= item.Id})>DETAILS </a></td> *@
                        <td> @Html.ActionLink("Details", "Details", new { id=item.Id.ToString()})</td>

                </tr>
            }
        </tbody>
    </table>
    </div>

     
</body>
</html>
