@model NatDMS.Models.DistributorDetailsViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-r5ID+CgK5ba4ZL3a39OXhMWSktQOp6cJS7wePqOx6bSSUnQlmh/jQ9vS9z5+X68+H" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .red-border {
            border: 2px solid black;
        }

        .blue-text {
            color: firebrick;
        }

        .bold-text {
            font-weight: bold;
        }

        .info-box {
            border: 2px solid brown;
            padding: 20px;
            margin-top: 20px; 
        }

        .wrap-text {
            word-wrap: break-word; 
            white-space: normal;
        }

        .area-container {
            display: flex;
            flex-wrap: wrap;
            gap: 2px; /* Adjust this value to control the space between items */
        }

        .area-item {
            padding: 2px 5px; /* Optional: Add padding for better readability */
            background-color: #f0f0f0; /* Optional: Add background color for better visual separation */
            border-radius: 3px; /* Optional: Add border radius for rounded corners */
            white-space: nowrap; /* Ensure items don't break into multiple lines */
            margin: 1px; /* Minimal margin to control spacing */
        }
    </style>

</head>
<body>

    <div class="container mt-10">
        <div class="row">
            <div class="col-md-10">

             <!-------------------------------------------------------EDIT ICON LINK --------------------------------------------------->

                <div class="text-center position-relative">
                    <a href="@Url.Action("EditDistributor", new { id = Model.DistributorDetails.Id })" class="d-flex align-items-center position-absolute" style="top: 0; right: 0;">
                        <i class="material-icons" style="font-size:20px">edit</i>
                        <span class="ml-2" style="font-weight:bold;">Edit</span>
                    </a>
                </div>

                <!-------------------------------------------------------EXECUTIVE DETAILS --------------------------------------------------->

                <div class="container my-4">
                    <dl class="row">
                        <dt class="col-sm-3 text-danger">@Html.DisplayNameFor(model => model.CompanyName)</dt>
                        <dd class="col-sm-3 text-dark wrap-text">@Html.DisplayFor(model => model.DistributorDetails.FirstName)</dd>

                            <dt class="col-sm-3 text-danger">@Html.DisplayNameFor(model => model.DistributorDetails.Address)</dt>
                            <dd class="col-sm-3 text-dark wrap-text">@Html.DisplayFor(model => model.DistributorDetails.Address)</dd>

                        <dt class="col-sm-3 text-danger">@Html.DisplayNameFor(model => model.DistributorDetails.Email)</dt>
                        <dd class="col-sm-3 text-dark wrap-text">@Html.DisplayFor(model => model.DistributorDetails.Email)</dd>

                        <dt class="col-sm-3 text-danger">@Html.DisplayNameFor(model => model.DistributorDetails.State)</dt>
                        <dd class="col-sm-3 text-dark">@Html.DisplayFor(model => model.DistributorDetails.State)</dd>

                        <dt class="col-sm-3 text-danger">@Html.DisplayNameFor(model => model.DistributorDetails.City)</dt>
                        <dd class="col-sm-3 text-dark">@Html.DisplayFor(model => model.DistributorDetails.City)</dd>
@* 
                        <dt class="col-sm-3 text-danger">@Html.DisplayNameFor(model => model.DistributorDetails.Area)</dt>
                        <dd class="col-sm-3 text-dark">@Html.DisplayFor(model => model.DistributorDetails.Area)</dd> *@
                       

                     @*    <dt class="col-sm-3 text-danger">@Html.DisplayNameFor(model => model.DistributorDetails.Latitude)</dt>
                        <dd class="col-sm-3 text-dark">@Html.DisplayFor(model => model.DistributorDetails.Latitude)</dd> *@

                       @*  <dt class="col-sm-3 text-danger">@Html.DisplayNameFor(model => model.DistributorDetails.Longitude)</dt>
                        <dd class="col-sm-3 text-dark">@Html.DisplayFor(model => model.DistributorDetails.Longitude)</dd>
 *@
                        <dt class="col-sm-3 text-danger">@Html.DisplayNameFor(model => model.DistributorDetails.Image)</dt>
                     
                        <dd class="col-sm-3 text-dark">
                            @if (!string.IsNullOrEmpty(Model.DistributorDetails.Image))
                            {
                                <img src="@Model.DistributorDetails.Image" alt="ProfileImage" width="80" height="80" class="img-responsive" id="presignedurl" />
                            }
                            else
                            {
                                <!-- Display a default "no image" placeholder -->
                                <img class="card-img-top img-fluid" src="~/image/no-image-placeholder.svg" alt="No Image" width="80" height="60">
                            }
                        </dd>

                       
                    </dl>

                    <!-------------------------------------------------------ASSIGN DISTRIBUTOR POPUP --------------------------------------------------->

                    <h4 class="text-danger">Assigned Retailors</h4>
                    <div data-bs-toggle="modal" data-bs-target="#exampleModal_@Model.DistributorDetails.Id">
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen-xxl-down">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Retailors</h5>
                                        <button type="button" class="btn-close" onclick="redirectToDisplayDistributors()" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" id="modalBody">
                                        <!-- Modal body content goes here -->
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-outline-primary" id="assignRetailorsBtn">Assign</button>
                                        <button type="button" class="btn btn-outline-danger" onclick="redirectToDisplayDistributors()">Close</button>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <!------------------------------------------------ASSIGN DISTRIBUTOR ICON LINK --------------------------------------------->

                    <div class="text-end position-relative d-flex justify-content-end">
                        <a href="#" onclick="loadDisplayRetailorsPopup('@Model.DistributorDetails.Id',true)">
                            <span style="display: inline-block;">
                                <i class="material-icons" style="vertical-align:middle;">supervisor_account</i>
                                <span class="ml-2" style="font-weight:bold; vertical-align:middle;">Assign</span>
                            </span>
                        </a>
                    </div>

                    <!--------------------------------------LIST OF ASSIGNED DISTIRBUTORS----------------------------------------->
                   
                    <table class="table red-border" style="border-collapse:collapse;">
                        
                        <thead>
                            <tr class="red-border">
                                <th class="red-border">ShopName</th>
                                <th class="red-border">Email</th>
                                <th class="red-border">MobileNumber</th>
                                <th class="red-border">State</th>
                                <th class="red-border">City</th>
                               @*  <th class="red-border">Area</th> *@
                                <th class="red-border">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var retailor in Model.AssignedRetailors)
                            {
                                <tr class="red-border"> 
                                    <td class="red-border">@retailor.FirstName</td>
                                    <td class="red-border">@retailor.Email</td>
                                    <td class="red-border">@retailor.MobileNumber</td>
                                    <td class="red-border">@retailor.State</td>
                                    <td class="red-border">@retailor.City</td>
                                    @* <td class="red-border">@retailor.Area</td> *@
                                    <td>
                                        <!---------------------------- Delete Icon ------------------------------------>

                                        <div style="display: flex; justify-content: center; align-items: center;">
                                            <i onclick="confirmDelete('@retailor.Id', true)" class="material-icons" style="color: red;cursor: pointer;">delete</i>
                                        </div>

                                        <!--------------------------- Delete Confirmation Modal ----------------------------->

                                        <div id="deleteConfirmationModal_@retailor.Id" class="modal" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete Confirmation</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to delete this retailor?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" onclick="confirmDelete('@retailor.Id', false)">No</button>
                                                        <button type="button" class="btn btn-danger" onclick="deleteRetailor('@retailor.Id','@Model.DistributorDetails.Id')">Yes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-----------------------------------------BACK TO LIST ICON LINK-------------------------------------->

    <div class="text-center py-1">
        <a href="@Url.Action("DisplayDistributors")" class="d-flex align-items-center">
            <i class="material-icons" style="font-size:20px;">arrow_back</i>
            <span class="ml-2" style="font-weight: bold;">BACK TO LIST</span>
        </a>
    </div>



    <!------------------------------------SCRIPTS FOR THIS PAGE------------------------------------------------------->


    <script>

        //---------------------------------------------SCRIPT FOR DELETE POPUP--------------------------------------

        function confirmDelete(uniqueId, isTrue) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isTrue) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
                showModal(uniqueId);
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
                hideModal(uniqueId);
            }
        }

        function showModal(uniqueId) {
            var modal = $('#deleteConfirmationModal_' + uniqueId);
            modal.modal('show');
        }

        function hideModal(uniqueId) {
            var modal = $('#deleteConfirmationModal_' + uniqueId);
            modal.modal('hide');
        }

        //--------------------------------------------SCRIPT FOR DELETE ASSIGNED DISTIRBUTOR --------------------------------------

        function deleteRetailor(retailorId, distributorId) {
            $.ajax({
                url: '/Distributor/DeleteAssignedRetailor',
                type: 'POST',
                data: { retailorId: retailorId, distributorId: distributorId },
                dataType: 'json',
                success: function (data) {
                    // alert("Delete Successful");

                    // Redirect to distributordetailsbyid page with executiveId
                    window.location.href = '/Distributor/DistributorDetailsBYId/' + distributorId;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Error:', errorThrown);
                }
            });
        }


        //----------------------SCRIPT FOR ASSIGN POPUP--------------------------------------

        function loadDisplayRetailorsPopup(DistributorId, page = 1) {
            var modalBody = $('#modalBody');
            var url = '/Distributor/ListOfRetailors/' + DistributorId + '?page=' + page;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    modalBody.html(data);
                    $('#exampleModal').modal('show');

                    // Handle pagination links inside the modal
                    $(document).on('click', '.pagination a', function (e) {
                        e.preventDefault();
                        var clickedPage = $(this).attr('href').split('page=')[1];
                        loadDisplayRetailorsPopup(DistributorId, clickedPage);
                    });

                    // Handle assigning distributors
                    $('#assignRetailorsBtn').on('click', function () {
                        var selectedRetailorIds = [];
                        // Loop through checkboxes and collect selected distributor IDs
                        $('.selectRetailor:checked').each(function () {
                            selectedRetailorIds.push($(this).data('id'));
                        });
                        $.ajax({
                            url: '/AssignRetailorToDistributor/AssignRetailors',
                            type: 'POST',
                            content: "application/json; charset=utf-8",
                            dataType: "json",
                            data: {
                                distributorId: DistributorId,
                                selectedRetailorIds: selectedRetailorIds
                            },
                            success: function (result) {
                                // alert("Assigned Successfully");
                                var url = '@Url.Action("DistributorDetailsBYId","Distributor")';
                                window.location.href = url;
                            },
                            error: function (error) {
                                alert("This retailor is Already Assigned");
                                console.error('Error assigning retailors:', error);
                            }
                        });
                    });
                },
                error: function (error) {
                    console.error('Error loading retailors:', error);
                }
            });
        }

        //-------------------------------------CLOSE POPUP MODEL--------------------------------------

        function redirectToDisplayDistributors() {
            var url = '@Url.Action("DistributorDetailsBYId","Distributor")';
            console.log('Redirect URL:', url);
            window.location.href = url;
        }

    </script>

</body>
</html>
