@model IEnumerable<NatDMS.Models.EditProduct>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index7</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-img-top {
            height: 300px; /* Adjust the height as needed */
            object-fit: cover; /* Maintain aspect ratio and cover the entire container */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 box-shadow">
                        @if (!string.IsNullOrEmpty(product.Image))
                        {
                            <img class="card-img-top img-fluid" src="@product.Image" alt="@product.ProductName">
                        }
                        else
                        {
                            <!-- Display a default "no image" placeholder -->
                            <img class="card-img-top img-fluid" src="~/image/no-image-placeholder.svg" alt="No Image">
                        }
                    <div class="card-body">
                        <h5 class="card-title">@product.Category</h5>
                        <p class="card-text">@product.ProductName</p>
                        <p class="card-text"> ₹ @product.Price</p>
                        <p class="card-text">@product.Weight gms</p>
                    </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>