@model NatDMS.Models.CategoryViewModel


<!DOCTYPE html>

<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/dm-project-style.css">
</head>

<body>


    @using (Html.BeginForm("CreateCategory", "Category", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
    {

        <div class="row justify-content-center">
            <div class="col-md-3">

                <div class="form-group">
                    <b>
                        @Html.LabelFor(model => model.CategoryName)
                        @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                    </b>
                </div>

            </div>
        </div>


        <div class="text-center">
            <button type="submit" class="btn btn-outline-danger">SUBMIT</button>
        </div>

    }

    <div class="row">
        <div class="col-md-10 d-flex justify-content-between">
            <a href="@Url.Action("CreateCategory")" class="d-flex align-items-center mr-6">
                <i class="material-icons" style="font-size:20px;">refresh</i>
                <span class="ml-2" style="font-weight: bold;">RESET</span>
            </a>

            <a href="@Url.Action("DisplayCategories")" class="d-flex align-items-center">
                <i class="material-icons" style="font-size:20px;">arrow_back</i>
                <span class="ml-2" style="font-weight: bold;">BACK TO LIST</span>
            </a>
        </div>
    </div>

</body>
</html>
