@model IEnumerable<NatDMS.Models.CategoryViewModel>


@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GetCategories</title>

    <link rel="stylesheet" type="text/css" href="~/css/my.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        function confirmDelete(uniqueId, isTrue) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isTrue) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
                showModal(uniqueId);
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
                hideModal(uniqueId);
            }
        }

        function showModal(uniqueId) {
            var modal = $('#deleteConfirmationModal_' + uniqueId);
            modal.modal('show');
        }

        function hideModal(uniqueId) {
            var modal = $('#deleteConfirmationModal_' + uniqueId);
            modal.modal('hide');
        }
    </script>

</head>



<body>
    <div class="container">
        <div class="text-center">
            <h1 class="my-1"><b>Manage Categories</b></h1>
        </div>
        <p>
            <a asp-action="CreateCategory" class="btn btn-primary">CREATE NEW</a>
        </p>
        <table class="table table-bordered table-striped custom-table ">
            <thead>
                <tr>
                    <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                    </th>

                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </th>
                        <td>
                            <a asp-action="EditCategory" asp-route-id="@item.Id" class="btn btn-warning btn-sm">EDIT</a>
                        </td>
                        <td>
                            <span id="deleteSpan_@item.Id">
                                <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.Id', true)">DELETE</a>
                            </span>

                            <div id="deleteConfirmationModal_@item.Id" class="modal" style="display:none">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this item?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" onclick="confirmDelete('@item.Id', false)">No</button>
                                            <form method="post" asp-action="DeleteCategory">
                                                <input type="hidden" name="categoryId" value="@item.Id" />
                                                <button type="submit" class="btn btn-danger">Yes</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    

                    </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html>